<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chanpay</title>

    <!--<link rel="stylesheet/less" type="text/css" href="../src/style/pages/trade.less" />-->
    <!--<script src="../node_modules/less/dist/less.js"></script>-->
    <link rel="stylesheet" href="../build/tradeAnonymous.css" />
</head>
<body>
<!--头部开始-->
<div class="header">
    <!--顶部用户状态条-->
    <div class="user-bar">
        <div class="contain clearfix">
            <ul>
                <li class="border-right">
                    你好
                </li>
                <li class="border-right">
                    <a href="javascript:;">帮助中心</a>
                </li>
                <li>
                    <a href="javascript:;">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
    <!--logo-->
    <div class="logo-bar">
        <div class="contain clearfix">
            <h1>畅捷支付</h1>
            <p>
                收银台
            </p>
        </div>
    </div>
</div>
<!--头部结束-->
<p class="font100">
    12312312312
</p>

<!--主内容区开始-->
<div class="content">
    <div class="contain">

        <!--交易信息开始-->
        <div class="trade-info">
            <!--交易概览开始-->
            <div class="overview clearfix">
                <!--商家信息-->
                <div class="business">
                    <h3>东风雪铁龙</h3>
                    <p>
                        <span>收款商家: </span>
                        <span>测试卖家</span>
                    </p>
                </div>
                <!--交易金额-->
                <div class="amount">
                    <p class="clearfix">
                            <span class="money">
                                0.20
                            </span>
                            <span class="unit">
                                元
                            </span>
                    </p>
                </div>
            </div>
            <!--交易概览结束-->

            <!--交易详情开始-->
            <div class="details" style="display: none;">
                <table>
                    <table width="900">
                        <tr height="36">
                            <th>类型</th>
                            <th>交易信息</th>
                            <th>交易号</th>
                            <th>对方</th>
                            <th>金额</th>
                        </tr>
                        <tr height="36">
                            <td>即时到账交易</td>
                            <td>东风雪铁龙汽车</td>
                            <td>101146649778968593892</td>
                            <td>东风雪铁龙</td>
                            <td>1.00元</td>
                        </tr>
                    </table>
                </table>
            </div>
            <!--交易详情结束-->

            <!--显示隐藏交易详情-->
            <a href="javascript:;" class="details-btn">
                订单详情
            </a>
        </div>
        <!--交易信息结束-->


        <!--支付部分开始-->
        <div class="cashier-payment">
            <!--选择银行卡类型-->
            <div class="payment-tag">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;">储蓄卡</a>
                    </li>
                    <li>
                        <a href="javascript:;">信用卡</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;">快捷支付</a>
                    </li>
                </ul>
            </div>
            <!--选择银行卡类型结束-->

            <!--选择银行开始-->
            <div class="payment-bank-list">
                <!--online-bank代表网银-->
                <div class="mainBank-list">
                    <ul class="clearfix online-bank-list">
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn SHRCB-DE"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn BCCB-KJ"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn TENPAY"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn HXB-QY"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                    </ul>
                </div>

                <!--online-bank代表网银-->
                <div class="mainBank-list hide">
                    <ul class="clearfix online-bank-list">
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn SHRCB-DE"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn BCCB-KJ"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn TENPAY"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn HXB-QY"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="BIocn ICBC"></a>
                        </li>
                    </ul>
                </div>

                <!--已绑定快捷卡列表-->
                <div  class="mainBank-list">
                    <ul class="clearfix qpay-bank-list">
                        <li class="bound-qpay-bank">
                            <a href="javascript:;">
                                <div>
                                    <p class="clearfix qpay-bank-count">
                                            <span class="BIocn ICBC">

                                            </span>
                                            <span class="tail-num">
                                                尾号3688
                                            </span>
                                    </p>
                                </div>
                                <div>
                                    <p class="clearfix qpay-bank-info">
                                            <span class="qpay-bind">
                                                快捷支付
                                            </span>
                                            <span>
                                                已开通
                                            </span>
                                    </p>
                                </div>
                                <div>
                                    <p class="clearfix qpay-bank-type">
                                            <span>
                                                储蓄卡
                                            </span>
                                    </p>
                                </div>

                            </a>
                        </li>
                        <li class="bind-new-bank-btn">
                            <a href="javascript:;">
                                <p class="add">

                                </p>
                                <p>
                                    添加银行卡
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--选择银行结束-->


            <!--表单部分开始-->
            <div class="result">
                <p class="tip">
                    请在<b class="emphasis">24小时</b>以内完成支付，否则将关闭当前交易！
                </p>
                <p class="tip security">
                    安全设置检测成功
                </p>
                <div class="result-form">
                    <button type="button" class="btn-threme">确认付款</button>
                </div>
            </div>
            <!--表单部分结束-->

        </div>
        <!--支付部分结束-->
    </div>
</div>
<!--主内容区结束-->

<!--绑定快捷卡开始-->
<div class="dialog-box client-height hide">
    <div class="bg client-height"></div>
    <!--<div class="border"></div>-->
    <div class="dialog-content-box">
        <div class="dialog-content">
            <h2>
                合作银行/机构
            </h2>
            <a href="javascript:;" class="close"></a>
            <div class="wrapper">
                <!--通过卡号识别卡片信息-->
                <div class="identification-card">
                    <div class="item clearfix">
                        <div class="item-left col-6 form-group">
                            <label for="card-num" class="col-2 control-label">卡号:  </label>
                            <div class="col-8">
                                <input type="text" id="card-num" name="card-num" class="form-control" placeholder="输入银行卡号进行安全智能识别"/>
                            </div>

                        </div>
                        <div class="item-right col-4">
                            <a href="javascript:;" class="select-card-type-btn margin-left20 theme-color">按卡种选择</a>
                        </div>

                    </div>
                    <p class="tip">
                        支持百余家全国及地方银行、多家境外银行及卡组织
                    </p>
                    <div>
                        <button type="button" class="btn-threme">下一步</button>
                    </div>
                </div>

                <!--选择卡类型绑卡-->
                <div class="select-card-type hide padding-left20">
                    <p class="select-card-info clearfix">
                            <span>
                                卡号无法识别， 请选择卡种：
                            </span>
                            <span>
                                <a href="javascript:;" class="identification-card-btn">重新输入卡号</a>
                            </span>
                    </p>
                    <div class="border-bottom margin-bottom30 padding-bottom20 clearfix">
                        <div class="col-2 select-box">
                            <input type="radio" name="cardType" id="DC" value="DC">
                            <label class="radio-inline" for="DC">
                                储蓄卡
                            </label>
                        </div>
                        <div class="col-2 select-box">
                            <input type="radio" name="cardType" id="CC" value="CC">
                            <label class="radio-inline" for="CC">
                                信用卡
                            </label>
                        </div>
                        <div class="col-2 select-box">
                            <input type="radio" name="cardType" id="other" value="other">
                            <label class="radio-inline" for="other">
                                其他
                            </label>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn-disable">下一步</button>
                    </div>
                </div>

                <!--选择银行进行绑卡-->
                <div class="payment-bank-list hide">
                    <p class="payment-bank-list-info clearfix">
                        <span>储蓄卡</span>
                            <span>
                                <a href="javascript:;" class="select-card-type-btn">修改</a>
                            </span>
                            <span>
                                <a href="javascript:;" class="identification-card-btn">重新输入卡号</a>
                            </span>
                    </p>
                    <div class="mainBank-list">
                        <ul class="clearfix online-bank-list">
                            <li>
                                <a href="javascript:;" class="BIocn ICBC active"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn SHRCB-DE"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn BCCB-KJ"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn TENPAY"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn HXB-QY"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC active"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn SHRCB-DE"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn BCCB-KJ"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn TENPAY"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn HXB-QY"></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="BIocn ICBC"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="padding-left20">
                        <button type="button" class="btn-threme">下一步</button>
                    </div>
                </div>
                <!--确认页-->
                <div class="confirm hide">
                    <div class="confirm-info mainBank-list clearfix">
                            <span class="BIocn ICBC">

                            </span>
                            <span class="card-type">
                                储蓄卡
                            </span>
                            <span class="back">
                                <a href="javascript:;" class="identification-card-btn">
                                    修改
                                </a>
                            </span>
                    </div>
                    <p class="support">
                        支持付款方式：
                    </p>
                    <div class="confirm-info mainBank-list">
                            <span class="type">
                                快捷支付
                            </span>
                            <span>
                                银行与支付宝共同推荐，目前已超过3亿用户使用！
                            </span>
                    </div>
                    <div class="form-group margin-top20">
                        <button type="button" class="btn-threme">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--绑定快捷卡结束-->


<script src="../build/tradeAnonymous.js"></script>
</body>
</html>